<app-alert *ngIf="message" color="{{colorMessage}}">{{message}}</app-alert>

<form class="form_novo_comentario" (submit)="saveComentario()">
  <div class="form-group">
    <label for="comentario">Deixe seu comentário aqui embaixo!</label>
    <textarea [rows]="2" id="comentario" type="text" pInputText placeholder="Escreva aqui seu comentário!" [(ngModel)]="comentario.texto"
      name="texto" required ></textarea>
  </div>

  {{texto}}

  {{autor}}

  <div class="form-group">
    <label for="autor">Informe seu nome para comentar!</label>
    <input id="autor" type="text" pInputText placeholder="Escreva aqui seu comentário!" [(ngModel)]="comentario.autor"
    name="autor" required />
  </div>

  <div class="d-flex justify-content-end">
    <app-button color="info">
      <app-icons icon="check" marginText="right"></app-icons>
      Enviar Comentário
    </app-button>
  </div>
</form>
